{% extends 'base.html.twig' %}

{% block body %}
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <td>Title</td>
                <td>Author</td>
                <td>Score</td>
                <td>Date</td>
                <td>Type</td>
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
                <tr>
                    <td>
                        {% if item.url %}
                            <a href="{{ item.url }}">{{ item.title }}</a>
                        {% else %}
                            {{ item.title }}
                        {% endif %}
                    </td>
                    <td>{{ item.by }}</td>
                    <td>{{ item.score }}</td>
                    <td>{{ item.time|date }}</td>
                    <td>{{ item.type }}</td>
                </tr>
                <tr>
                    <td colspan="5">
                        {{ item.text|raw }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
